- form_for :skin, @skin, :html => { :multipart => true } do |f|
  = hidden_field 'user', 'lock_version'
  %table.fieldset{:cellpadding=>0, :cellspacing=>0, :border=>0}
    %tr
      %th.label
        = f.label :name
      %td.field
        = f.text_field "name", :class => 'textbox', :maxlength => 100 
      %td.help Required.
    %tr
      %th.label
        = f.label :description
      %td.field
        = f.text_field "description", :class => 'textbox', :maxlength => 100 
      %td.help Required.
    %tr
      %th.label
        = f.label :snapshot
      %td.field
        = f.file_field "image", :class => 'textbox'
      %td.help Required.
    %tr
      %th.label
        = f.label :public
      %td.field
        = f.file_field "public", :class => 'textbox'
      %td.help File must be a .zip or .tar.gz.
    %tr
      %th.label
        = f.label :content
      %td.field
        = f.text_area 'content', :style => 'width: 100%; height: 280px;', :class => "textarea"
      %td.help Required.

%p.buttons
  = save_model_button @skin
  = save_model_and_continue_editing_button @skin
  or
  = link_to "Cancel", admin_site_skins_url
